ErrorDocument 401 /index.php?401-AuthorizationRequired
ErrorDocument 403 /index.php?403-Restricted
ErrorDocument 404 /index.php?404-FileNotFound
ErrorDocument 500 /index.php?500-ServerError

Options +FollowSymlinks

PHP_Value memory_limit 256M
PHP_Value short_open_tag On

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1 

ExpiresActive on
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
<Files *.css>
	Header add Vary Accept-Encoding
</Files>
<Files *.js>
	Header add Vary Accept-Encoding
</Files>
