<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>###PAGE###</title>
</head>

<body bgcolor=moccasin text=black alink=red link=darkblue vlink=darkmagenta>

<form method="POST" action="###SCRIPTURL###">

<h1><a href="###SCRIPTURL###"><img src="###LOGO###" border=0></a>
Edit ###PAGE### Links
<input type="submit" value=" Save ">
<input type="reset" value=" Reset "></h1>

<P>
[1] <input type="text" size="55" name="r1" value="###R1###"><br>
[2] <input type="text" size="55" name="r2" value="###R2###"><br>
[3] <input type="text" size="55" name="r3" value="###R3###"><br>
[4] <input type="text" size="55" name="r4" value="###R4###"><br>
[5] <input type="text" size="55" name="r5" value="###R5###"><br>
[6] <input type="text" size="55" name="r6" value="###R6###"><br>
[7] <input type="text" size="55" name="r7" value="###R7###"><br>
[8] <input type="text" size="55" name="r8" value="###R8###"><br>
[9] <input type="text" size="55" name="r9" value="###R9###"><br>
[10] <input type="text" size="55" name="r10" value="###R10###"><br>
[11] <input type="text" size="55" name="r11" value="###R11###"><br>
[12] <input type="text" size="55" name="r12" value="###R12###"><br>

<p>
Type the full URL (http:// ...) for each reference cited in the text.
<BR>Protocols allowed are: ###ALLOWEDPROTOCOLS###

<input type="hidden" name="post" value="###PAGEURL###">
</form>
</body>
</html>
